<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aboutus</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    PerfWeather
                </h1>
                <h2><i>Please Feel Free To Contact!</i></h2>
            </div>
        </div>
    </section>
    
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href='/'>
              Home
            </a>
      
            <a class="navbar-item" href='/detailed/'>
              Detailed Weather
            </a>

      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href='/about/'>
                  About Us
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Weather App
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
            <a class="navbar-item" href='/feedback/'>
              Feedback
            </a>
            </div>
          </div>
        </div>
    </nav>
<br>

    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
          <div class="tile is-child box notification is-info ">
            <p class="title ">Motto</p>
            <p>This website thrives to provide the user, a fast thrilling experience while navigating through a very simple user-frieldy GUI, that helps users to search for any city in the world, and get instant weather updates of that city.
                Also, we focus on never letting the user down, and thus allowing every city that the user wants to view to be added on the home page. We also provide detailed views of any city's weather the user wants to view.
            </p>
          </div>
          <div class="tile is-child box notification is-danger ">
            <p class="title">Contact Us</p>
                <ul style="list-style-type:disc;">
                    <li>Name: PerfWeather</li>
                    <li>Email: perfweather@gmail.com</li>
                    <li>Number: 96969 96969</li>
                    <li>LinkedIn: <a href='https://www.linkedin.com/in/param-s-8101babb/'>Click Here!</a></li>
                    <li>GitHub Repo:<a href='https://github.com/param-s-8/'>Click Here!</a></li>
                </ul>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child box notification is-warning ">
            <p class="title">Tech Stack:</p>
            <br><h4><b>Framework:</b></h4>Django
            <br><h4><b>Programming Language:</b></h4>Python
            <br><h4><b>CSS:</b></h4>Bulma 
            <br><h4><b>APIs:</b></h4>OpenWeatherMap, AccuWeather
          </div>
        </div>
      </div>


    
    <footer class="footer">
    </footer>
</body>

</html>